/* ini css */
html{
  scroll-behavior: smooth;
  font-family: arial;
  background-color: #eaeaea;
  background-image: linear-gradient(80deg,#FBAB7E,#F7CE68);
}
/* Navbar */
.logo-icon{
  height: 48px;
  width: 48px;
  padding-top: 6px;
  padding-left: 50px;
  padding-bottom: 10px;
}
.logo-icon-img{
  height: 48px;
  width: 48px;
  border-radius:24px ;
}

nav{
  position: sticky;
  border: 1px solid;
  border-radius: 10px;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-bottom: 0;
  background-color: white ;
}

.nav-container{
  display: flex;
  justify-content: space-around;
  width: 360px;
}

.nav-item{
  /* border: 1px solid; */
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 7px;
  transition: 0.5s;
}
.nav-item:hover{
  background-color: black;
  color: white;
}
/* Navbar end */

/* Gambar slide */
.header-main{
  margin-top: 10px;
  height: 100px;
  padding-left: 80px;
}
.banner-img{
  height: 600px;
}
.banner-item{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}
/* Gambar slide end */

/* Profile */
.main-profile{
  display: flex;
  justify-content: space-around;
}
.profile-item{
  text-align:  -webkit-center;
  width: 500px;
  width: min(100%,300px);
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img{
  height: 250px;
  width: 300px;
}
.profile-img img{
  height: 250px;
  width: 250px;
  border-radius: 20px;
}
.profile-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 10px;
}
.profile-head{
  padding-bottom: 30px;
}
/* Profile end */

/* Message */
.message h1{
  padding-top: 20px;
  padding-bottom: 20px;
}
.message-item{
  padding-left: 90px;
}
.message-main{
  padding-left: 90px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.input-tanggal{
  font-size: 1.1em;
}
input,textarea{
  outline: none;
  font-size: 1em;
  line-height: 20px;
  background-color: transparent;
  color: black;
}
textarea{
  font-size: 1.2em;
}
textarea::placeholder{
  color: black;
  font-size: 1em;
}
input::placeholder{
  color: black;
}
.main-group{
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  box-shadow: -5px 10px 10px rgba(10, 10, 0, 25);
}

.form-group {
  display: flex;
  align-items: center;
  margin: 15px;
}
.form-group label {
  width: 120px;
  margin-right: 10px;
}
.form-group input, .form-group textarea, .form-group select {
  flex: 1;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
}
.form-group textarea {
  resize: none; 
  height: 100px;
}

.button-group{
  padding-bottom: 40px;
}
.submit-button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 60px;
  cursor: pointer;
  margin-left: 10%;
  background-color: transparent;
}
.delete-button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 60px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 8%;
  background-color:transparent;
}
.clear-button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 60px;
  cursor: pointer;
  margin-left: 30%;
  margin-top: 5px;
  background-color:transparent;
}
button{
  transition: 0.5s;
}
button:hover{
  background-color: black;
  color: white;
}

.second-form{
  margin-left: 10%;
  border: 1px solid;
  width: 40%;
  height: 250px;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  box-shadow: -10px 10px 10px rgba(10, 10, 0, 25);
}

.second-group-form{
  margin-left: 30px;
  margin-top: 30px;
}
/* Message end */

/* Footer */
footer{
  border-top: 1px solid black;
  text-align: center;
  padding-top: 15px;
}
/* Footer end */


